.containerOuter {
  position: absolute;
  width: 100%;
  top: 64px; /* height of material-ui header */
  min-height: calc(100% - 64px);
}

.containerInner {
  width: 1024px;
  margin: 1rem auto;
}

@media print {
  .containerOuter {
    top: 0 !important;
  }

  .appBar {
    display: none !important;
  }

  button:global {
    display: none !important;
  }
}
