.header {
    margin-top: -1rem;
}

.title {
    display: inline-block;
    margin: 0;
    padding: 12px 0;
    font-size: 26px !important;
    font-weight: bold;
}

.menuDropDown {
    float: right;
}